transformers
datasets
accelerate
peft
trl
tokenizers
gradio
pandas
scipy
einops
sentencepiece
tiktoken
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
packaging
pyyaml
numpy
av
tyro
